.card-game{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 160px;
    background: var(--color-alura);
    border: 4px solid var(--color-floral-white);
}